<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" data-bs-backdrop="static"data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-danger">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="loginModalLabel">Uyarı</h5>
            </div>
            <div class="modal-body text-center">
                <i class="fas fa-exclamation-triangle fa-3x text-warning mb-3"></i>
                <p class="fs-5">Bu sayfayı görüntüleyebilmek için giriş yapmalısınız.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="/Auth/Login" class="btn btn-primary px-4">Giriş Yap</a>
                <a href="/" class="btn btn-secondary">Anasayfaya Dön</a>
            </div>
        </div>
    </div>
</div>


<style>
    body {
        background-color: antiquewhite;
        background: no-repeat;
    }
</style>
@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var myModal = new bootstrap.Modal(document.getElementById('loginModal'));
            myModal.show();
        });
    </script>

}