<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Landed by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/css/main.css" />
	<noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload landing">
	<div id="page-wrapper">

		

		<!-- Banner -->
		<section id="banner">
			<div class="content">
				<header>
					<h2> 🩺📊 DiaSense</h2>
					<p>
						Diyabeti önceden tespit etmek artık bir tahmin<br />
						değil, teknolojiyle mümkün.<br />
						Yapay zekâ destekli bu sistem, sağlık verilerinizi <br />
						analiz ederek olası diyabet riskinizi anında  <br />
						değerlendirmeye yardımcı olur.  <br />

					</p>
				</header>
				<span class="image"><img src="/img/istockphoto-1180743974-612x612.jpg" alt="" /></span>
			</div>
			<a href="#one" class="goto-next scrolly">Next</a>
		</section>

		<!-- One -->
		<section id="one" class="spotlight style1 bottom">
			<span class="image fit main"><img src="/img/diabetes_20240709_125707534.jpg" alt="" /></span>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">
							<header>
								<h2>🧬 Erken Tanı Hayat Kurtarır</h2>
								<p>
									Yapay zekâ destekli sistemimiz sayesinde diyabet riskinizi analiz ediyor,
									erken teşhisle geleceğe güvenle bakmanızı sağlıyoruz.</p>
							</header>
						</div>
						<div class="col-4 col-12-medium">
							<p>
								Diyabet, belirtileri fark edilmeden ilerleyebilen bir hastalıktır. Yapay zekâ destekli sistemimiz sayesinde kan şekeri verileriniz analiz edilir ve risk durumu anında belirlenir. Unutmayın, erken teşhis tedavinin en güçlü adımıdır.

								Şimdi verilerinizi girin, sonuçlara ulaşın.
							</p>
						</div>
						<div class="col-4 col-12-medium">
							<p>
								Sadece birkaç tıklamayla verilerinizi sisteme girin ve dakikalar içinde sonuçlara ulaşın. Modern teknolojiyi sağlıkla buluşturan platformumuz, hızlı ve güvenilir geri bildirim sunar.
								Sağlığınızın kontrolü elinizde. <b>"Diyabeti geç olmadan fark edin. Erken teşhis, sağlıklı bir gelecek demektir."</b>
							</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#two" class="goto-next scrolly">Next</a>
		</section>

		<!-- Two -->
		<section id="two" class="spotlight style2 right">
			<span class="image fit main"><img src="/img/kalp.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Sağlıklı Yaşam, Doğru Adımlarla Başlar</h2>
					<p>🥦 Bugün Küçük Bir Adım, Yarın Büyük Bir Fark</p>
				</header>
				<p>
					Günlük beslenme alışkanlıklarınız, sağlığınız üzerinde düşündüğünüzden çok daha etkilidir. Diyabet gibi kronik hastalıkları önlemenin en etkili yollarından biri dengeli ve bilinçli beslenmedir.

					Vücudunuzun ihtiyaç duyduğu vitamin, mineral ve doğal lifleri içeren bir beslenme planı, kan şekeri dengenizi korumanıza yardımcı olur.Beslenme tercihlerinizi yeniden gözden geçirin ve sağlıklı yaşam için ilk adımı hemen atın.
				</p>
				<ul class="actions">
					<li><a href="https://www.saglik.gov.tr/TR-11405/saglikli-beslenme-ve-saglikli-beslenmede-12-adim.html" class="button">Learn More</a></li>
				</ul>
			</div>
			<a href="#three" class="goto-next scrolly">Next</a>
		</section>

		<!-- Three -->
		<section id="three" class="spotlight style3 left">
			<span class="image fit main bottom"><img src="/img/syringe-1884784_1280.webp" alt="" /></span>
			<div class="content">
				<header>
					<h2> 🔬 Diyabetle Yaşamı Kontrol Altına Alın</h2>
					<p>
						Küçük önlemler, büyük farklar yaratır.

					</p>
				</header>
				<p>
					Diyabet, sadece bir hastalık değil; yaşam biçiminizi şekillendiren bir yolculuktur. Doğru tedavi, düzenli takip ve bilinçli tercihlerle sağlıklı bir yaşam mümkündür.

					Kan şekeri kontrolü sizin elinizde.
					Sağlıklı beslenin, aktif kalın, düzenli ölçüm yapın.

					Bugün atacağınız adım, yarının sağlığını belirler.
				</p>
				@* <ul class="actions">
					<li><a href="#" class="button">Learn More</a></li>
				</ul> *@
			</div>
			<a href="#four" class="goto-next scrolly">Next</a>
		</section>

		<!-- Four -->
		<section id="four" class="wrapper style1 special fade-up">
			<div class="container">
				<header class="major">
					<h2>Accumsan sed tempus adipiscing blandit</h2>
					<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
				</header>
				<div class="box alt">
					<div class="row gtr-uniform">
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-chart-area"></span>
							<h3>Ipsum sed commodo</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-comment"></span>
							<h3>Eleifend lorem ornare</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-flask"></span>
							<h3>Cubilia cep lobortis</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-paper-plane"></span>
							<h3>Non semper interdum</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-file"></span>
							<h3>Odio laoreet accumsan</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-lock"></span>
							<h3>Massa arcu accumsan</h3>
							<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
						</section>
					</div>
				</div>
				<footer class="major">
					<ul class="actions special">
						<li><a href="#" class="button">Magna sed feugiat</a></li>
					</ul>
				</footer>
			</div>
		</section>

		<!-- Five -->
		<section id="five" class="wrapper style2 special fade">
			<div class="container">
				<header>
					<h2>Magna faucibus lorem diam</h2>
					<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
				</header>
				<form method="post" action="#" class="cta">
					<div class="row gtr-uniform gtr-50">
						<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
						<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
					</div>
				</form>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://x.com/" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.linkedin.com/in/asuman-odaba%C5%9F%C4%B1/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="https://github.com/asumanodabasi" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="https://mail.google.com/" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="https://github.com/asumanodabasi">Asuman Odabasi</a></li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>