@{
    ViewData["Title"] = "Yeni Şifre Belirleme";
}
<h2>Yeni Şifre Belirle</h2>


<div class="col-md-4 ms-auto me-auto" style="padding-top:50px;">

    <div class="box">
        <div class="card-header">
            <h3 style="font-family:Arial,sans-serif;">Şifre Sıfırlama</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <input type="hidden" name="email" value="@ViewBag.Email" />
                <input type="hidden" name="token" value="@ViewBag.Token" />

                <div>
                    <label>Yeni Şifre:</label>
                    <input type="password" name="newPassword" required />
                </div>
                <button type="submit">Şifreyi Güncelle</button>
            </form>
            </div>
            </div>
            </div>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
